h1 {
    text-align: center; 
    color: white;       
    background-color: black; 
  }
  
  table th {
    background-color: #5bdefb;
    padding: 10px 20px;
  }
  
  table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
  }
  
  .btn-primary {
      background-color: blue; 
      color: white; 
      border: none; 
      padding: 10px 20px; 
      text-align: center;
      text-decoration: none; 
      display: inline-block; 
      font-size: 16px; 
      margin: 4px 2px; 
      cursor: pointer; 
      border-radius: 0; 
    }